body{
    background-color: wheat;
}
h1{
    font-size: 75px;
    text-align: center;
}
.p1{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
img{
    width: 30%;
    margin-left: 550px;
}
p{
    text-align: center;
    font-weight: bold;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: bold;
}
li{
    font-weight: bold;
}